<div class="container">

 
    <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-3">
        <button routerLink="/sales-managment/add-new-delivery-challan"  type="button" class=" btn btn-primary">Add New Delievery Challan</button>
    </div>

    <div class="container mt-3">
        <div class="border shadow-lg bg-light mb-4">
            <h5 class="  bg-theme  p-2"> Delivery challan </h5>

            <div class="form-group m-3">
                <label for="formGroupExampleInput" class="fw-bold">Search</label>

                <input type="text" class="form-control w-50 mt-2" id="formGroupExampleInput" placeholder="Search">
            </div>
            <div class="container">
                <table class="table table-bordered mt-5 mb-4">
                    <thead>
                        <tr>
                            <th class="bg-secondary"> Id </th>
                            <th class="bg-secondary">Delivery Challan Id </th>
                            <th class="bg-secondary">Business Name</th>
                            <th class="bg-secondary">Shop Id</th>
                            <th class="bg-secondary">Grant Total</th>
                            <th class="bg-secondary">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>DC1</td>
                            <td>IMOPLANT TECH SOLUTIONS</td>
                            <td></td>
                            <td>7.00</td>
                            <td><a href="">View</a></td>

                        </tr>
                        <tr>
                            <td>1</td>
                            <td>DC1</td>
                            <td>IMOPLANT TECH SOLUTIONS</td>
                            <td></td>
                            <td>7.00</td>
                            <td><a href="" class="m-1">View</a> <a href="" class="m-1">Edit</a> <a href=""
                                    class="m-1">Delete</a></td>

                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="p-4 ">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item active"><a class="page-link" href="">1</a></li>
                        <li class="page-item"><a class="page-link" href="">2</a></li>
                        <li class="page-item"><a class="page-link" href="">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

</div>
