<h3 class="mt-3">Add City </h3>
<div class="container border shadow-lg bg-light mt-5">
    <p class="bg-secondary fw-bold mt-3 p-2"> Add City</p>
    <div class="row mt-5">
        <div class="col-md-6">
            <label class="fw-bold"> Add State</label>
            <input class="m-2" type="text" placeholder="Enter a State" required>
        </div>
        <div class="col-md-6">
            <label class="fw-bold">Add City</label>
            <input class="m-2" type="text" placeholder="Enter a City" required>
        </div>

    </div>
    <div class="row text-center  mt-5 mb-3">
        <div class="col ">
          <button class="btn btn-success mx-2 ">  Submit  </button>
          <button class="btn btn-secondary mx-2 "> Reset</button>
        </div>
      </div>


</div>