<div class="container mt-4 bg-light">

    <div class="container border bg-light shadow-lg mt-5">
        <h5 class=" text-center rounded mt-3 p-1">Invoice</h5>
        <div class="row justify-content-between mt-4">
            <input class="col-md-4 m-3" type="text" placeholder="Search">

            <button routerLink="/sales-managment/add-new-invoice" class="col-md-2 m-2 btn btn-info text-white rounded" type="button">Add New Invoice</button>
        </div>      

        <br><br>
        <div style="overflow-x:auto;">
            <table class="table table-bordered border-dark ">
                <thead>
                    <tr>
                        <th class="bg-secondary">INVOICE ID</th>
                        <th class="bg-secondary">DATE</th>
                        <th class="bg-secondary">BUSINESS NAME</th>
                        <th class="bg-secondary">SHOP NAME</th>
                        <th class="bg-secondary">EMP NAME</th>
                        <th class="bg-secondary">GRAND TOTAL</th>
                        <th class="bg-secondary">TOTAL PAID</th>
                        <th class="bg-secondary">BALANCE</th>
                        <th class="bg-secondary">ACTION</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>0</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>

                    </tr>

                </tbody>
            </table>
        </div>
        <br>
    </div>
    <br><br>
 
</div>