<div class="container">
     
    <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-2">
        <button type="button" class=" btn btn-primary">Add New Invoice</button>
    </div>

    <div class="container mt-3">
        <div class="border shadow-lg bg-light ">
            <h5 class="  bg-theme  p-2">Invoice</h5>

            <div class="form-group m-3">
                <label for="formGroupExampleInput" class="fw-bold">Search</label>

                <input type="text" class="form-control w-50 mt-2" id="formGroupExampleInput" placeholder="Search">
            </div>
            <div class="container" style="overflow-x:auto;">
                <table class="table table-bordered mt-5 mb-4">
                    <thead>
                        <tr>
                            <th class="bg-secondary"> BOM Id </th>
                            <th class="bg-secondary">Date</th>
                            <th class="bg-secondary">Business Name</th>
                            <th class="bg-secondary">Shop Name</th>
                            <th class="bg-secondary">Emp Name</th>
                            <th class="bg-secondary">Grand Total</th>
                            <th class="bg-secondary">Total Paid</th>
                            <th class="bg-secondary">Balance</th>
                            <th class="bg-secondary">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>0</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>

                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
